/*TOKEN CSS*/

:root {
  /*Colors*/

  --color-dark: #263238;
  --color-black: #18191f;
  --color-dark-grey: #4d4d4d;
  --color-grey: #717171;
  --color-silver: #f5f7fa;
  --color-primary: #4caf4f;
  --color-white: #ffffff;

  /*Fonts*/

  --font-family: "Inter", sans-serif;

  /*Font sizes*/

  --font-size-base: 1rem;
  --font-size-lg: 1.75rem;
  --font-size-xl: 2.25rem;
  --font-size-2xl: 4rem;

  /*Font weight*/

  --font-weight-normal: 400;
  --font-weight-bold: 600;

  /*Spacing*/

  --spacing-2xs: 0.5rem;
  --spacing-xs: 0.625rem;
  --spacing-s: 0.875rem;
  --spacing-sml: 1.375rem;
  --spacing-sm: 1.5rem;
  --spacing-md: 1rem;
  --spacing-m: 2rem;
  --spacing-lg: 2.625rem;
  --spacing-xl: 3.125rem;
  --spacing-2xl: 4rem;
  --spacing-3xl: 6rem;
  --spacing-3xls: 6.5625rem;
  --spacing-4xl: 9rem;

  /*Radius*/

  --radius: 0.25rem;
  --radius-m: 0.375rem;
  --radius-lg: 0.5rem;
}

/*RESET*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*BASES*/

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  color: var(--color-grey);
}

h1 {
  font-size: var(--font-size-2xl);
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-lg);
}

h1,
h2,
h3 {
  color: var(--color-dark-grey);
  font-weight: var(--font-weight-bold);
}

nav a {
  text-decoration: none;
  color: var(--color-black);
}

button {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: var(--font-family);
  border-style: none;
  border-radius: var(--radius);
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
  padding-right: var(--spacing-m);
  padding-left: var(--spacing-m);
  margin-top: var(--spacing-m);
}

/*COMPOSANTS*/

.button-header {
  color: var(--color-primary);
  background-color: var(--color-silver);
  border-style: none;
}

.button2-header {
  border-radius: var(--radius-m);
}

.button-header,
.button2-header {
  margin: 0;
}

.top {
  background-color: var(--color-silver);
}

.color-title-hero {
  color: var(--color-primary);
}

.top-footer {
  background-color: var(--color-silver);
  border-style: none;
  border-radius: var(--radius-lg);
  padding-top: var(--spacing-2xl);
  padding-bottom: var(--spacing-2xl);
  margin-left: var(--spacing-4xl);
  margin-right: var(--spacing-4xl);
  text-align: center;
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
}

.title-footer {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
  margin-bottom: var(--spacing-m);
}

.bottom-footer {
  background-color: var(--color-dark);
  padding-top: var(--spacing-2xl);
  padding-bottom: var(--spacing-2xl);
  text-align: center;
  color: var(--color-silver);
}

/*LAYOUT*/

.nav-header {
  display: flex;
  gap: var(--spacing-xl);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing-sml);
  padding-bottom: var(--spacing-sml);
  padding-left: var(--spacing-3xls);
  padding-right: var(--spacing-3xls);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: var(--spacing-4xl);
  padding-right: var(--spacing-4xl);
}

.hero {
  padding-top: var(--spacing-3xl);
  padding-bottom: var(--spacing-3xl);
}

.community-section {
  text-align: center;
}

.container-community {
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
  padding-right: var(--spacing-m);
  padding-left: var(--spacing-m);
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}
